
  <header class="header">
      <nav class="navbar navbar-static-top" role="navigation">
          <div class="col-md-2 logo">
            <img src="assets/images/brandideaAnalytics_logo.png" alt="BrandIdea Analytics">
            <a id="sidebarCollapse" class="pull-right">  <i class="fa fa-bars"></i></a>
          </div>
          <div class=" llor  header-nav">
            <div class="row">
                <ul class="nav">
                  <li  class="menu-nav" category="185">
                    <a href=""><span><img src="assets/images/icons/brand-ideator.png" alt="miaro project"></span> Brand Ideator</a>
                  </li>
                  <li  class="menu-nav" category="1">
                    <a href=""><span><img src="assets/images/icons/mkt-pot.png" alt="miaro project"></span> Mkt Potential</a>
                  </li>
                  <li  class="menu-nav" category="4">
                    <a href=""><span><img src="assets/images/icons/delivery-van.png" alt="miaro project"></span> Secndry Sales</a>
                  </li>
                </ul>
              <div class="col-md-1 clint-logo">
                  <img src="images/hul.png" alt="" width="110">
              </div>
            </div>
          </div>
     </nav>
     </header>
     
  <div class="loading" style = "display:none">Loading&#8230;</div>