<div class="col-md-2" id="sidebar">
				<aside class="left-side sidebar-offcanvas">
					<section class="sidebar">
						<nav class="navbar period-calendar">
							<ul class="nav navbar-nav">
								<li class="dropdown" dropdown>
									<a dropdownToggle role="button"  class="select-period" data-toggle="dropdown" title="Select Period"><i class="fa fa-calendar selbox"></i></a>
								</li>
							</ul>
						</nav>

						

						<p id="currentval">2017</p><!-- <hr style="background-color: #fff; border-top: 2px dashed #8c8b8b;"> -->
						
							<button id="toggle-Period" style="display:none; font-weight: bold; color:blue; font-size: 12px;">Period Selection</button>
	<div class="fliter-area" id="filter-area1">
		<div id="myTabs">
			<ngb-tabset class="tab-menu">
				<ngb-tab title="Discovery">
					<ng-template ngbTabContent>
						<div class="nav-menu tree well">
							<ul class="tree-menu-list">
								<li class="parent parent_li" >
									<span title="Expand this branch">Demographic Segmntn
										<i class="pull-right fa fa-chevron-right"></i></span>
										<ul>
											<li class="child" id="215" >
											<span class="child_menu"  >Profld Indvdls<i class="hide-i pull-right fa fa-chevron-right"></i><a class="pull-right delete_selection " href="javascript:void(0)" alt=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
											</li>
											<li class="child" id="10165" >
												<span class="child_menu" >Occupatn<i class="hide-i pull-right fa fa-chevron-right"></i><a class="pull-right delete_selection " href="javascript:void(0)" alt=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
											</li>
											<li class="child" id="10665" >
												<span class="child_menu"  >Occupatn by Designatns<i class="hide-i pull-right fa fa-chevron-right"></i><a class="pull-right delete_selection " href="javascript:void(0)" alt=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
											</li>
											<li class="child" id="8054" >
												<span class="child_menu"  >Total HHs<i class="hide-i pull-right fa fa-chevron-right"></i><a class="pull-right delete_selection " href="javascript:void(0)" alt=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
											</li>
											<li class="child"  >
												<span class="child_menu">HH Size<i class="hide-i pull-right fa fa-chevron-right"></i><a class="pull-right delete_selection" href="javascript:void(0)" alt=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
											</li>
											<li class="child" id="14306" >
												<span class="child_menu"   >Married Couple(s) in House<i class="hide-i pull-right fa fa-chevron-right"></i><a class="pull-right delete_selection" href="javascript:void(0)" alt=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
											</li>
											<li class="child" >
												<span class="child_menu"   >House Ownrshp<i class="hide-i pull-right fa fa-chevron-right"></i><a class="pull-right delete_selection " href="javascript:void(0)" alt=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
											</li>
										</ul>
								</li>
							</ul>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab>
					<ng-template ngbTabTitle>Prescriptn</ng-template>
					<ng-template ngbTabContent>Prescriptn content
						
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Diagnostics" >
					<ng-template ngbTabContent>
						<p>Diagnostics content</p>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Predictn" >
					<ng-template ngbTabContent>
						<p>Predictn content</p>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
		<div class="com_split">
			<span class="combine" data-toggle="collapse" id="combine"><img alt="combine" class="mCS_img_loaded" src="assets/images/combine.png" width="16px">Combine</span> <span class="split" data-toggle="collapse" id="split"><img alt="split" class="mCS_img_loaded" src="assets/images/split.png" width="16px">Split</span>
		</div><input id="myAnchor" type="hidden">
	</div>
						<div class="selection-area">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs selection-ul" role="tablist">
								<li class="active" role="presentation">
									<a aria-controls="home" data-toggle="tab" href="#myselection" role="tab">My Selection</a>
								</li>
								<li role="presentation">
									<a aria-controls="profile" data-toggle="tab" href="#postselection" role="tab">Post Selection</a>
								</li>
							</ul><!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="myselection" role="tabpanel">
								
											<div class="col-md-12 pad-0">
												<ul>
													<!-- <li>FMCG</li>
              <li id = 'modname'>Brand Ideator</li> -->
													<li class="selection-list" id="selectedlist"></li>
												</ul>
											</div>
									
								</div>
								<div class="tab-pane my-scroll" id="postselection" role="tabpanel">
									...
								</div>
							</div>
							<div id="jstreeSplit" ></div>
							<div id="jstreeCombine" ></div>
						</div><!-- Split Details show here!-->
						<div class="selection-area"></div>
					</section>
				</aside>
			
	</div>



	<div class="dropdown-menu period-selection" data-animations="fadeIn">
			<h3>Period Selection</h3>
			<li><div id="popover-content" class="">
			  <form class="form-inline" role="form">
				<div class="form-group">
					<div class="col-md-12 form-row">
					  <div class="form-check ">
						  <span class="period-title col-md-2">Period Type</span>
					  </div>
		  <div class="form-check" id="div1">
			<label>
		  <input name="periodtype" id="1" value="1" class="Single " type="radio"> <span class="label-text">Single </span>
		  </label>
		  <label>
		  <input name="periodtype" id="2" value="2" class="Continuous " type="radio"> <span class="label-text">Continuous </span>
		  </label>
		  <label>
		  <input name="periodtype" id="3" value="3" class="Mixed " type="radio"> <span class="label-text">Mixed </span>
		  </label>
		  </div>
					</div>
				  <div class="col-md-12 form-row" id="cont" style="display: none;">
					  <div class="form-check">
						  <span class="period-title col-md-2">Periodicity</span>
					  </div>
		  <div class="form-check" id="div1b">
			<label>
		  <input name="period" id="2" value="2" type="radio"> <span class="label-text  By_Cal_Yr">By Cal Yr</span>
		  </label>
		  <label>
		  <input name="period" id="6" value="6" type="radio"> <span class="label-text  By_Qrtr">By Qrtr</span>
		  </label>
		  <label>
		  <input name="period" id="4" value="4" type="radio"> <span class="label-text  By_Month">By Month</span>
		  </label>
		  </div>
		  
		  </div>
					<div class="col-md-12 form-row" id="3d">
					  <div class="form-check">
						  <span class="period-title col-md-2">Select Period <br></span>
					  </div>
						  <div class="form-check custome-check" id="div3"></div>
						  <div class="form-check" id="div31"></div>
						  <div class="form-check">
							<div class="single_period"><input name="birthday" placeholder="Select Period" id="pselection" type="text"></div>
							<div class="continuous_period"></div>
		  
		  
						  </div>
					</div>
		  
					 <div class="col-md-12" id="4d">
					  <div class="form-check">
						<!--   <span class="period-title col-md-2">Parameter</span>-->
					  </div>
					  <!-- <div class="form-check col-md-2" ></div> -->
					   <div class="form-check col-md-12" id="div4"></div>
				  </div>
				  
				  <div class="period-submin">
					<button class="apply" id="dlDropDown" type="button">Apply</button>
					<!-- type="submit" -->
					<a href="javascript:void(0);" class="close" type="submit">Close</a>
				  </div>
				</div>
			  </form>
			</div>
			</li>
			</div>
			
			